<div>
  <div id="topo"><a [routerLink]="['/home']"><img src="assets/template/assets/img/logo_ncc_anglo.jpeg" style="background-position:center;"></a></div>
  <nav class="navbar navbar-default navigation-clean">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-left">
          <li data-toggle="collapse" data-target=".navbar-collapse" routerLinkActive="active"><a [routerLink]="['/home']">Home </a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse" routerLinkActive="active"><a [routerLink]="['/exposicoes']">Exposições </a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse" routerLinkActive="active"><a [routerLink]="['/rankings']">Rankings </a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse" routerLinkActive="active"><a [routerLink]="['/about']">Sobre </a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
