<div class="container">
    
      <div class="row">
        <p-dataTable [value]="animais" sortField="tipo" rowGroupMode="subheader" groupField="tipo">
          <p-header>
            <h4>Resultado Progenes</h4>
          </p-header>
          <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['tipo']}}</ng-template>
          <p-column field="registro" header="Registro" [style]="{'width':'15%'}"></p-column>
          <p-column field="nome" header="Nome" [style]="{'width':'30%'}"></p-column>
          <p-column field="tipo" header="Tipo" [style]="{'width':'5%'}"></p-column>
          <p-column [style]="{'width':'35%'}">
              <ng-template pTemplate="header">Filhos</ng-template>
              <ng-template let-col let-animais="rowData.animais" pTemplate="body">
                <tr *ngFor="let animal of animais">
                  <td>{{animal.nome}} - {{animal.sexo}}</td>
                </tr>
              </ng-template>
            </p-column>
          <p-column [style]="{'width':'20%'}">
            <ng-template pTemplate="header">Premiação</ng-template>
            <ng-template let-col let-premiacoes="rowData.premiacao" pTemplate="body">
              <tr *ngFor="let premiacao of premiacoes">
                <td>{{premiacao.nome}}</td>
              </tr>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'10%', 'text-align': 'center'}">
            <ng-template pTemplate="header">Pontos</ng-template>
            <ng-template let-col let-premiacoes="rowData.premiacao" pTemplate="body">
              <tr *ngFor="let premiacao of premiacoes">
                <td>{{premiacao.pontos}}</td>
              </tr>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    
    </div>