.row {
  padding-left: 10px;
  padding-right: 10px;
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:0 auto;
}

#promo {
  text-align:center;
  padding:40px;
  background:url(../../assets/img/anglo_backgroud1.jpeg) no-repeat;
  background-size:cover;
  margin-top: 1px;
}

#topo {
  text-align:center;
}

#topo img {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 150px;
  width: 150px;
  background: #fff;
}

@media (max-width:991px) {
  #promo {
    padding:20px;
  }
}

@media (max-width:991px) {
  #promo .jumbotron {
    padding:20px;
  }
}

#shortcuts {
  margin-top:20px;
}

.features a {
  color:rgba(66,38,28,.8);
  border-color:rgba(66,38,28,.8);
}

.features a:hover {
  color:rgba(66,38,28,.8);
}

.features a:focus {
  color: rgba(66,38,28,.8);
}

.features > .active > a, .features > .active > a:focus, .features > .active > a:hover, .features > .open > a {
  color:rgba(66,38,28,.8);
}

.dropdown {
  width: 100%;
  margin-left: 15px;
}

.dropdown-menu {
  font-family: Verdana, sans-serif;
}

table {
  font-family: Verdana, sans-serif;
}

@media screen and (max-width: 640px) {
  table {
    font-size: 11px;
  }
}
