<rap-header></rap-header>

<router-outlet></router-outlet>

<div class="footer-basic">
  <footer>
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a>
      <a
        href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li><a href="#">Exposições </a></li>
      <li><a href="#">Rankings </a></li>
      <li><a href="#">Sobre </a></li>
      <li></li>
    </ul>
    <p class="copyright">ForDevTI © 2017</p>
  </footer>
</div>
<!-- 
<div class="wrapper">

  <img src="../assets/abcboer_logo.png" alt="" class="img-logo img-circle">
  <rap-header></rap-header>  

  
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Rankings</strong> Portal
    </div>
  </footer>
</div>
-->