<div class="container">

    <div class="row">
        <h1>Expositores</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th class="text-right" scope="col">Pontos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of expositores; let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{e.nome}}</td>
              <td class="text-right">{{e.totalPontos}}</td>
            </tr>
          </tbody>
        </table>
      <!-- <p-dataTable [value]="expositores" sortField="totalPontos" [sortOrder]="-1">
        <p-header><h4>Resultado Expositores</h4></p-header>
        <p-column field="nome" header="Nome" [style]="{'width':'80%'}"></p-column>
        <p-column field="totalPontos" header="Pontos" [style]="{'width':'20%', 'text-align': 'center'}"></p-column>
      </p-dataTable> -->
    </div>

  </div>
