<div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">{{exposicao?.descricao}}</h2>
    </div>
    <div class="row features">
      <div class="row">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Escolha o resultado
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a [routerLink]="['resultadoCriadores']">Criadores</a></li>
            <li><a [routerLink]="['resultadoExpositores']">Expositores</a></li>
            <li><a [routerLink]="['resultadoFemeas']">Fêmeas</a></li>
            <!-- <li role="separator" class="divider"></li> -->
            <li><a [routerLink]="['resultadoMachos']">Machos</a></li>
            <!-- <li><a [routerLink]="['resultadoProgenes']">Progenies</a></li> -->
          </ul>
        </div>
      </div>
      <br>

      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- <div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">{{exposicao?.descricao}}</h2>
    </div>
    <div class="row features">
      <div class="row">
        <a [routerLink]="['resultadoCriadores']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Criadores</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['resultadoExpositores']">
          <div class="box col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Expositores</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['resultadoFemeas']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Categorias - Fêmea</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['resultadoMachos']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Categorias - Macho</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['resultadoProgenes']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Progenes</h3>
              </div>
            </div>
          </div>
        </a>
        <div class="col-sm-6 col-xs-12 item">
          <a>
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Campeonatos</h3>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->
