<div id="promo">
    <div class="jumbotron">
        <h1>Bem Vindo ao Portal de Resultados</h1>
        <p>Aqui você encontra todos os resultados e o ranking da raça</p>
        <p></p>
    </div>
</div>
<div id="shortcuts">
    <div class="container">
        <div class="row">
            <div class="col-md-4 item">
                <h2 class="text-center">Exposições </h2>
                <p class="text-center">Resultados de todos os eventos realizados pela a NCCAnglo</p>
            </div>
            <div class="col-md-4 item">
                <h2 class="text-center">Rankings </h2>
                <p class="text-center">Rankings dos melhores animais e criadores da NCCAnglo</p>
            </div>
            <div class="col-md-4 item">
                <h2 class="text-center">Sobre </h2>
                <p class="text-center">Saiba mais sobre a NCCAnglo e os parceiros da associação</p>
            </div>
        </div>
    </div>
</div>
<!-- INÍCIO DO CONTEÚDO 
<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <div class="col-sm-8">
      <img class="img-responsive" src="assets/ABCAnglo.jpeg" alt="logo">
    </div>
    <div class="col-sm-4">
      <h1>Portal de Resultados</h1>
      <p>
        Para ver os resultados clique no botão abaixo
      </p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/exposicoes']">Ver Exposições</a>
    </div>
  </div>

</section>
-->