<div class="features-boxed">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Rankings</h2>
      </div>
      <div class="row features">
        <div class="row">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Escolha o resultado
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a [routerLink]="['melhoresCriadores']">Melhores Criadores</a></li>
              <li><a [routerLink]="['melhoresExpositores']">Melhores Expositores</a></li>
              <li><a [routerLink]="['melhoresReprodutores']">Melhores Reprodutores</a></li>
              <!-- <li role="separator" class="divider"></li> -->
              <li><a [routerLink]="['melhoresMatrizes']">Melhores Matrizes</a></li>
              <li><a [routerLink]="['melhoresFemeas']">Melhores Fêmeas</a></li>
              <li><a [routerLink]="['melhoresMachos']">Melhores Machos</a></li>
            </ul>
          </div>
        </div>
        <br>

        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="features-boxed">
  <div class="container">
    <div class="row features">
      <div class="row">
        <a [routerLink]="['melhoresCriadores']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Criadores</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['melhoresExpositores']">
          <div class="box col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Expositores</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['melhoresReprodutores']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Reprodutores</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['melhoresMatrizes']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Matrizes</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['melhoresFemeas']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Fêmeas</h3>
              </div>
            </div>
          </div>
        </a>
        <a [routerLink]="['melhoresMachos']">
          <div class="col-sm-6 col-xs-12 item">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <h3 class="profile-username text-center">Melhores Machos</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->
