<div class="features-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Exposições </h2>
    </div>
    <div class="row features">
      <div *ngFor="let exposicao of exposicoes" class="col-md-4 col-sm-6 item">
        <div class="box">          
          <img [src]="exposicao?.cartaz" alt="" class="img-responsive" />
          <h3 class="name">{{exposicao.descricao}}</h3>
          <p class="description">{{exposicao.cidade}}</p>
          <p class="description">De {{exposicao.dataInicial}} a {{exposicao.dataFinal}}</p>
          <a [routerLink]="['/exposicoes', exposicao._id]" class="learn-more">Resultados »</a>
        </div>
      </div>
    </div>
  </div>
</div>