<div class="container">

  <div class="row">
    <h1>Fêmeas</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th class="text-right" scope="col">Pontos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of animais; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>{{f._id}}</td>
          <td class="text-right">{{f.pontos}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
